*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}
.message{
    width: 400px;
    height: 60px;
    background-color:lime;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
    position: relative;
    top: 30px;
    left: 50%;
    border-top-left-radius:0.4em;
    border-top-right-radius: 0.4em;
    transform: translate(-50%);
    padding: 1.2em;
}
.message p{
    color: white;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 18px;
}
.message_name{
    display: flex;
    justify-content: space-between;
}
.message_name span{
    color: white;
    cursor: pointer;
    font-size: 18px;
}
.contact-container{
    width: 400px;
    height: 500px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.4em;
}
.title{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
    color: #333;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 18px;
}
.form{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    left: 20px;
}
.input-box:not(#text){
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    margin-bottom: 40px;
    background-color: whitesmoke;
}
.input-box input{
    width: 100%;
    height: 40px;
    padding: 0.4em;
    outline: 0;
    border: 0;
    background-color: transparent;
    border-radius: 0.5em;
}
.input-box i{
    position: relative;
    top: 11px;
    font-size: 15px;
    color: #333;
}
#text{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    margin-bottom: 40px;
    height: 120px;
    background-color: whitesmoke;
}
#text textarea{
    padding: 0.9em;
    outline: 0;
    border: 0;
    background-color: transparent;
    resize: none;

}
button:not(#delete){
width: 80%;
background-color: #333;
margin-top: -40px;
color: white;
outline: 0;
border: 0;
text-transform: capitalize;
border-radius: 33px;
position: relative;
right: 30px;
height: 40px;
cursor: pointer;
border-radius: 33px;
}
#message{
    display: none;
}
@media(max-width:600px){
    #message{
        max-width: 80%;
    }
    #message p{
        font-size: 13px;
    }
    .contact-container{
        max-width: 90%;
    }
}
@media(max-width:400px){
    #message{
        max-width: 80%;
    }
    #message p{
        font-size: 13px;
    }
    .contact-container{
        max-width: 90%;
        position: fixed;
    }
}
#delete{
    border-radius: 33px;
    position: relative;
    top:-20px;
    background-color: red;
    padding: 0.7em 2.1em;
    color: white;
    outline: 0;
    border: 0;
}